.date-picker {
    border: lightgrey solid 1px;
    margin-bottom: 10px;
    width:100%;
    text-align: center;
    text-decoration-color: grey;
}

.date-picker-p {
    margin-bottom: 5px;
    width:100%
}